DATABASE_URL=postgresql+asyncpg://coders:coders@localhost:5432/coders
REDIS_URL=redis://localhost:6379
# python -c "import secrets; print(secrets.token_hex(32))"
SECRET_KEY=
DEBUG=true

GITHUB_CLIENT_ID=
GITHUB_CLIENT_SECRET=
GITHUB_REDIRECT_URI=http://localhost:3000/api/auth/github/callback

GOOGLE_CLIENT_ID=
GOOGLE_CLIENT_SECRET=
GOOGLE_REDIRECT_URI=http://localhost:3000/api/auth/google/callback
